<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <title>PhisherMan</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename ='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename ='assets/css/PhishingDetection.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename ='assets/css/owl.css')}}">
<!--

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <img class='logo' src="{{ url_for('static',filename='assets/images/Logo006.png')}}" style="height: 70px; width: 240px; margin-left: -120px;">
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="https://github.com/Himank-J/PhishingDetection_Website"><i class="fa fa-github" style="font-size: 30px; position: relative; top: 5px"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>PhisherMan</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#top">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/behindthescenes">Behind the Scenes</a>
              </li>                          
              <li class="nav-item">
                <a class="nav-link" href="/statistics">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/detecturl">Detect a URL</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>We are here to support you</h6>
                  <h4>Phishing Awareness<br>&amp; Detection</h4>
                  <p>To the human eye, the URL of phishing website seems very similar to real websites. But phishing websites are created with a malicious intent.<br>To know more, visit our blogs section.</p>
                  <a href="/blog" class="filled-button">Read More</a> 
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Don't believe us? See for yourself!</h6>
                  <h4>Statistical<br>&amp; Analysis</h4>
                  <p>An interactive dashboard created using POWER-BI that helps you to understand the gravity of Phishing as a threat to our daily lives.</p>
                  <a href="/statistics" class="filled-button">See Report</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>We are ready to help you with</h6>
                  <h4>State of the Art <br>Technology</h4>
                  <p>Machine learning is the last invention that humanity will ever need to make. Get a look behind the scenes of our Machine Learning model that makes classifications based on a simple URL input.</p>
                  <a href="/behindthescenes" class="filled-button">Take a peek</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Have you come across a suspicious website?</h4>
            <span>Keep yourself safe using PhisherMan</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Check Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our <em>Goals</em></h2>
              <span>What we aspire to achieve?</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{ url_for('static',filename='assets/images/goal3.jpg')}}" style="height:197px;" alt="">
              <div class="down-content">
                <h4>Phishing Awareness</h4>
                <p>A platform that educates people on how to protect themselves against phishers who want to disrupt and steal their data.</p>
                <a href="/blog" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{ url_for('static',filename='assets/images/goal2.jpg')}}" alt="">
              <div class="down-content">
                <h4>Phishing Detection</h4>
                <p>A system that detects phishing in <br>real-time using machine learning model built by our team.</p>
                <a href="/detecturl" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{ url_for('static',filename='assets/images/goal1.jpg')}}" alt="">
              <div class="down-content">
                <h4>Phishing Statistics</h4>
                <p>We provide updated information on global phishing trends using infographics.</p>
                <a href="/statistics" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Phishing Statistics</span>
              <h2>Recent Trends in<em> <br>Phishing Attacks</em></h2>
              <p> 75% of organisations around the world experienced Phishing in the year 2020.
              <br>The United States of America was the most affected country with a staggering 2,41,324 Phsihing cases.
              <br>Data Breach caused by Phishing costs business an average of $4 Million, according to IBM. 
              <br>Total number of registered Phishing URLs as of January,2021 is 21,45,013. This is up from 16,90,000 in January,2020. </p>
              <a href="/statistics" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">75</div>
                  <div class="count-title">% Organisations</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">241324</div>
                  <div class="count-title">Phishing Cases</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">4</div>
                  <div class="count-title">Million Dollars($) In the Red</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">2145013</div>
                  <div class="count-title">Registered Phishing URL</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{{ url_for('static',filename='assets/images/slider_01.gif')}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>US</em></h2>
                    <p>We are a group of Machine Learning enthusiasts who share the vision of making making the internet a safe space.<br><br>Our website, Phisherman accomplishes two things:<br> One, it spreads awareness about the global problem of phishing. <br>Two, it makes use of a complex machine learning algorithm that detects phishing URLs in real-time.</p>
                    <a href="/about" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Dr. Gurunath Chavan</h4>
                  <span>PPC Mentor</span>
                  <p>"One of the best group of students I have had the pleasure of mentoring."</p>
                </div>
               
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Prof. Rutuja Kadam</h4>
                  <span>Project Mentor</span>
                  <p>"A very hardworking team that completes the objectives on time with an excellent quality of work."</p>
                </div>
                
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>PhisherMan</h4>
            <p><nobr>You can find our project at github!<br>Dont forget to leave a &nbsp;<i class="fa fa-star" aria-hidden="true"></i></nobr></p>
            <ul class="social-icons">
              <li><a href="https://github.com/Himank-J/PhishingDetection_Website"><i class="fa fa-github" style="font-size: 30px;"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="https://www.phishing.org/what-is-phishing">What Is Phishing?</a></li>
              <li><a href="https://securityscorecard.com/blog/types-of-phishing-attacks-and-how-to-identify-them">12 Types of Phishing Attacks</a></li>
              <li><a href="https://www.tessian.com/blog/phishing-statistics-2020/">Must-Know Phishing Statistics</a></li>
              <li><a href="https://docs.apwg.org/reports/apwg_trends_report_q2_2021.pdf">Phishing Activity Trends Reports</a></li>
              
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="/about">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/behindthescenes">How We Work</a></li>
              <li><a href="/statistics">Statistics</a></li>
              <li><a href="/detecturl">Detect a URL</a></li>
              
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <ul class="menu-list">
              <li><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/himank-jain/">Himank Jain</a></li>
              <li><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/ayush-tiwari-2867811b2/">Ayush Tiwari</a></li>
              <li><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/keshav-rao/">Keshav Rao</a></li>
              <li><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/soham-joshi-b543131b4/">Soham Joshi</a></li>
              
            </ul>
            
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2021 | PhisherMan
            
            <a rel="nofollow noopener" href="https://templatemo.com" target="_blank"></a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Additional Scripts -->
    <script src="{{ url_for('static',filename='assets/js/custom.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/owl.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/slick.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/accordions.js')}}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t){                  
      if(! cleared[t.id]){                      
          cleared[t.id] = 1;  
          t.value='';        
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>